<div class="modal-header modal-header-detail">
  <div class="detail-airdrop">
    <div class="detail-airdrop__img">
      <img src="{{airdrop.image}}" class="token-logo">
    </div>
    <div class="detail-airdrop__info">
      <div class="info-title">
        {{airdrop.tokenName}} <span>
           <svg class="icon icon_eyes" viewBox="0 0 13.75 9.375">
            <g id="baseline-remove_red_eye-24px" transform="translate(-0.625 -2.813)">
              <path id="Path_991" data-name="Path 991" class="cls-1" d="M7.875,4.5A7.392,7.392,0,0,0,1,9.188a7.385,7.385,0,0,0,13.75,0A7.392,7.392,0,0,0,7.875,4.5Zm0,7.813A3.125,3.125,0,1,1,11,9.188,3.126,3.126,0,0,1,7.875,12.313Zm0-5A1.875,1.875,0,1,0,9.75,9.188,1.872,1.872,0,0,0,7.875,7.313Z" transform="translate(-0.375 -1.688)"/>
            </g>
          </svg>
        </span>
      </div>
      <p class="project-name">
        {{airdrop.projectName}}
      </p>
    </div>
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <svg class="icon close" viewBox="0 0 17.536 17.536">
      <g id="Plus" transform="translate(-805.387 112.314)">
        <g id="Group_73" data-name="Group 73" transform="translate(816.7 -112.314) rotate(45)">
          <path id="Path_88" data-name="Path 88" class="cls-1"
                d="M815.9-108.2v6.4h-6.4a.792.792,0,0,0-.8.8h0a.792.792,0,0,0,.8.8h6.4v6.4a.792.792,0,0,0,.8.8h0a.792.792,0,0,0,.8-.8v-14.4a.792.792,0,0,0-.8-.8h0A.792.792,0,0,0,815.9-108.2Z"
                transform="translate(-808.7 109)"/>
          <path id="Path_89" data-name="Path 89" class="cls-1"
                d="M844.98-84.9H840.5a.792.792,0,0,1-.8-.8h0a.792.792,0,0,1,.8-.8h4.48a.792.792,0,0,1,.8.8h0A.813.813,0,0,1,844.98-84.9Z"
                transform="translate(-829.78 93.7)"/>
        </g>
      </g>
    </svg>
  </button>
</div>
<div class="modal-subheader-detail">
  <div class="subheader-detail-item">
    <div class="subheader-detail-asset" *ngIf="airdrop.platform.toLowerCase() == 'waves'"><span class="badge_grey">Asset ID</span>
      <input type="text" class="input-no-border" readonly value="{{airdrop.assetId}}" #assetID>
      <button class="btn-link" [ngxClipboard]="assetID">Copy</button>
    </div>
    <span class="badge_grey">Platform</span>{{airdrop.platform}}
  </div>
  <div class="subheader-detail-item">
    <div class="requirements-wrapper" >
      <span class="badge_grey">Requirements</span>
      <span *ngFor="let requirement of airdrop.requirements"
            [popover]="globals.requirementPopover(requirement)" triggers="mouseenter:mouseleave" class="requirement-item"
            [innerHtml]="globals.parseIconRequirements(requirement, 'disabled', 'active')">
          </span>
    </div>

  </div>
</div>
<div class="modal-body">
  <div class="modal-body__header">
    <div class="rating-button-wrapper">
      <div class="rating">
        <svg class="icon icon-rating disabled" viewBox="0 0 18 18">
          <g id="Group_408" data-name="Group 408" transform="translate(-409 -163)">
            <ellipse id="Ellipse_12" data-name="Ellipse 12" class="cls-1" cx="9" cy="9" rx="9" ry="9" transform="translate(409 163)"/>
            <g id="fire" transform="translate(414.349 167.236)">
              <g id="Group_137" data-name="Group 137" transform="translate(0 0)">
                <path id="Path_204" data-name="Path 204" class="fire" fill="#fff" d="M49.314,2.847a2.448,2.448,0,0,0-.555-.474l-.018-.01a.374.374,0,0,0-.374.024c-.119.08-.282.189-.149,1.968,0,0,0,.009,0,.013a.559.559,0,0,1,0,.191l0,.016a.849.849,0,0,1-.712.641.814.814,0,0,1-.855-.369.988.988,0,0,1-.046-.894c.029-.058.057-.118.085-.178a3.716,3.716,0,0,1,.2-.393A2.86,2.86,0,0,0,46.628.156a.371.371,0,0,0-.573-.041c-.294.311-.58.637-.857.953-.333.379-.677.772-1.035,1.137a5.356,5.356,0,0,0-1.493,2.587,3.694,3.694,0,0,0,.3,2.241A4,4,0,0,0,46.307,9.26c.058,0,.116,0,.175,0A3.872,3.872,0,0,0,49.8,7.342,3.715,3.715,0,0,0,49.314,2.847Z" transform="translate(-42.613 0.001)"/>
              </g>
            </g>
          </g>
        </svg>
        {{airdrop.rating}}
      </div>
      <div class="rating-button">
        <button class="rating-plus btn-link" (click)="ratingUp()">&uarr;</button>
        <button class="rating-minus btn-link" (click)="ratingDown()">&darr;</button>
      </div>
    </div>
    <div class="date-wrapper">
      <div class="date-start"><span class="badge_grey">Start</span> {{airdrop.startDate | date:'d MMMM y'}}</div>
      <div class="date-end"><span class="badge_grey">End</span> {{airdrop.endDate | date:'d MMMM y'}}</div>
    </div>
    <div class="token-wrapper">
      <div class="token-value"><span class="badge_grey">Total value</span> {{airdrop.totalValue}}</div>
      <div class="token-per"><span class="badge_grey">Tokens per Claim</span> {{airdrop.tokensPerClaim}}</div>
    </div>
    <div class="estimated-wrapper">
      <div class="estimated-title">Estimated value</div>
      <div class="estimated-value">{{airdrop.estimatedValue}}</div>
    </div>
  </div>
  <div class="modal-body__middle">
    <div class="about-wrapper">
      <div class="about-title">About Airdrop</div>
      <div class="about-content">{{airdrop.description}}</div>
    </div>
    <div class="htg-wrapper">
      <div class="htg-title">Step-by-Step Guide</div>
      <div class="htg-content" *ngFor="let htg of airdrop.howToGetToken; let idx = index;">
        <div class="htg-index htg-index_white">
          {{idx + 1}}
        </div>
        <div class="htg-text" [innerHtml]="htg"></div>
      </div>
    </div>
  </div>
  <div class="modal-body__footer">
    <div class="project-links-wrapper">
      <div class="project-links-header">
        <div class="title">PROJECT LINKS</div>
        <div class="project-links">
          <div class="info-social-icon">
            <a href="{{link}}" *ngFor="let link of airdrop.projectLinks"
               [innerHtml]="globals.parseIconProjectLink(link, 'large', 'active')">
            </a>
          </div>
        </div>
      </div>
      <div class="project-links-footer">{{airdrop.commentBlock}}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn">Claim Airdrop</button>
</div>
