.finded-airdrops {
  padding: 0;

  .title {
    padding: 23px 29px 20px 29px;
    border-bottom: 1px solid #E9E9EB;
    margin-bottom: 0;
  }

  .finded-airdrop-wrapper:nth-child(even) {
    background-color: #FCFCFC;
  }

  .finded-airdrop {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E9E9EB;
    padding: 15px 35px 10px 20px;

    p {
      margin-bottom: 0;
    }

    &__stat {
      display: flex;
      font-size: 13px;
      color: #9BA6B2;
      margin-left: auto;
      align-items: center;
      flex-direction: column;

      p {
        margin-bottom: 3px;
      }

      .stat-today {
        background-color: #ECECEC;
        border-radius: 5px;
        margin-bottom: 7px;
        width: 100%;
        text-align: center;
        color: #4E5C6E;
      }

      .stat-common {
        display: flex;

        .stat-text {
          text-align: right;
        }
        .stat-icon {
          margin-top: 1px;
        }
      }
    }

    .info-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #000;
    }

    .info-social-icon svg {
      height: 10px;
    }

    svg.rating,
    svg.value {
      height: 15px;
      fill: #9BA6B2;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .footer {
    padding: 20px;
    background-color: #FCFCFC;
    text-align: center;

    a {
      color: #4E5C6E;
    }
  }
}

.all-finded-airdrop {
  max-height: 545px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(212,217,222,1);
    background: -moz-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,217,222,1)), color-stop(55%, rgba(212,217,222,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(98%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d9de', endColorstr='#ffffff', GradientType=1 );

  }
}
