@import '~variables.scss';

.form-group {

  .requirements-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .requirements-item {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 46px;
    border-radius: .375rem;
    height: 42px;
    margin-bottom: 10px;
    margin-left: 1%;
  }

  .requirements-input {
    width: 33%;
    margin-left: 10px;
  }
}


.htg-item,
.project-links-item {
  margin-bottom: 10px;

  &_added {
    input {
      background-color: $app-form-color;
    }
  }

  .htg-index {
    width: 42px;
    height: 42px;
    background-color: $app-form-color;
    color: $app-form-color-header;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_white {
      background-color: #fff;
      border: 1px solid $app-form-color;
    }
  }

  .project-links-btn {
    cursor: pointer;
    border: 1px dashed $app-form-color;
    border-radius: 5px;
    height: 42px;
    color: #AEAEAE;
  }
}

.btn_submit {
  margin-top: 15px;
}
