@import '~variables.scss';

.form-group {

  .requirements-items-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .requirements-item {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 46px;
    border-radius: .375rem;
    height: 42px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .requirements-input {
    width: 33%;
  }
}


.htg-item,
.project-links-item {
  margin-bottom: 10px;

  &_added {
    input {
      background-color: $app-form-color;
    }
  }

  .htg-index {
    width: 42px;
    height: 42px;
    background-color: $app-form-color;
    color: $app-form-color-header;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_white {
      background-color: #fff;
      border: 1px solid $app-form-color;
    }
  }

  .project-links-btn {
    cursor: pointer;
    border: 1px dashed $app-form-color;
    border-radius: 5px;
    height: 42px;
    color: #AEAEAE;
  }
}

.btn_submit {
  margin-top: 15px;
}

.upload-token-name {
  display: flex;

  .token-wrapper {
    flex-grow: 1;
  }
}
.uploadedImageContainer {
  position: relative;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background-color: $app-form-color;
  margin-right: 16px;

  &:hover {
    svg {
      fill: $app-link-color-hover
    }
  }

  .uploadedImage {
    position: absolute;
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
    height: 68px;
    width: 68px;
  }

  svg.icon {
    height: 22px;
    position: absolute;
    fill: $app-form-color-header;
    top: 31%;
    left: 37%;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 68px;
    width: 68px;
    border: none;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
  }
}
