/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~variables.scss';

html {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #EDF0F4;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    flex-grow: 1;
  }
}

h2.title {
  font-weight: 500;
  font-size: 17px;
  color: #4E5C6E;
  margin-bottom: 20px;
}

.btn {
  color: #fff;
  background-color: $app-link-color-active;
  border: #1751EC;
  padding: 17px 100px;
}
.btn-link {
  border: none;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AEAEAE;
  font-size: 0.8824rem;
  opacity: 0.6;
  font-weight: 400;
  font-family: 'Roboto';
}
::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
  font-size: 0.8824rem;
  opacity: 0.6;
  font-weight: 400;
  font-family: 'Roboto';
}

button:focus {
  outline: none;
}

:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1286px;
  }
}


.container {
  @media (min-width: 992px) {
    max-width: 1060px;
  }
  @media (min-width: 1200px) {
    max-width: 1286px;
  }
}

a {
  font-size: 15px;

  &:hover {
    color: $app-link-color-hover;
    text-decoration: none;

    svg.icon {
      fill: $app-link-color-hover;
    }
  }

  svg.icon {
    height: 20px;
    fill: $app-link-color;
    margin-right: 9px;
  }
}

svg.icon {
  fill: $app-link-color;
  height: 16px;

  &.active {
    fill: $app-link-color-active;

    &.disabled:hover {
      fill: $app-link-color-active;
    }
  }

  &.disabled:hover {
    fill: $app-link-color;
    cursor: default;
  }

  &:hover {
    cursor: pointer;
    fill: $app-link-color-hover;
  }

  &.icon_eyes {
    fill: $app-link-color-active;
    height: 10px;
    margin-left: 9px;
  }

  &.soc-net {
    height: 10px;
  }

  &.large {
    height: 22px;
    margin-left: 19px;
  }

  &.medium {
    height: 16px;
    margin-left: 19px;
  }
}

.token-logo {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

/* CSS Popover */
.popover {
  z-index: 9999;
  background-color: #1F5AF6;

  .popover-content {
    color: #fff;
  }

  .popover-arrow.arrow::after {
    border-top-color: #1F5AF6;
  }
}

/* /CSS Popover */

/* CSS scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}
body::-webkit-scrollbar-thumb {
  background: rgba(212,217,222,1);
  background: -moz-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(237, 240, 244,1) 57%, rgba(237, 240, 244,1) 98%, rgba(237, 240, 244,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,217,222,1)), color-stop(55%, rgba(212,217,222,1)), color-stop(57%, rgba(237, 240, 244,1)), color-stop(98%, rgba(237, 240, 244,1)), color-stop(100%, rgba(237, 240, 244,1)));
  background: -webkit-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(237, 240, 244,1) 57%, rgba(237, 240, 244,1) 98%, rgba(237, 240, 244,1) 100%);
  background: -o-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(237, 240, 244,1) 57%, rgba(237, 240, 244,1) 98%, rgba(237, 240, 244,1) 100%);
  background: -ms-linear-gradient(left, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(237, 240, 244,1) 57%, rgba(237, 240, 244,1) 98%, rgba(237, 240, 244,1) 100%);
  background: linear-gradient(to right, rgba(212,217,222,1) 0%, rgba(212,217,222,1) 55%, rgba(237, 240, 244,1) 57%, rgba(237, 240, 244,1) 98%, rgba(237, 240, 244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d9de', endColorstr='#edf0f4', GradientType=1 );

}

/* /CSS scrollbar */

/* CSS tables */
.table {
  margin-bottom: 0;

  thead th {
    border-bottom: none;
  }

  & td, th {
    border-top: none;
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FCFCFC;
  }
  &.table-striped tbody tr:hover {
    background-color: #ECECEC;
  }
}

.main-border {
  border: 1px solid $app-border-color;
  border-radius: 4px;
}

/* /CSS tables */

/* CSS Forms */
.form-group {
  color: $app-form-color-text;

  input, optgroup, select, textarea {
    border: 1px solid $app-border-color;
    border-radius: 4px;
    min-height: 42px;
    color: $app-form-color-text;
    font-size:  0.8824rem;
    padding-left: 15px;
    padding-right: 15px;

    &::placeholder {
      color: #AEAEAE;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
  }
  label {
    color: #4E5C6E;
    font-size: 15px;
    margin-bottom: 10px;
  }

  svg.icon {
    fill: $app-form-color-header;
  }

  .container-input {
    cursor: pointer;
    position: relative;

    &:hover {
      svg {
        fill: $app-link-color-hover
      }
    }

    input {
      padding-right: 45px;
    }

    .btn-input.left + input {
      padding-right: 5px;
      padding-left: 52px;
    }

    .btn-input {
      cursor: pointer;
      position: absolute;
      top: 1px;
      background-color: $app-form-color;
      height: 40px;
      width: 45px;
      border: none;

      &.right {
        right: 1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.left {
        left: 1px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      svg {
        height: 16px;
        margin-right: 4px;

        &.icon_plus {
          margin-top: 8px;
          margin-right: 0;
        }

        &.icon_delete {
          height: 18px;
          margin-left: 11px;
          margin-top: 9px;
        }

        &.icon_date {
          margin-top: 8px;
          margin-right: 0px;
        }
      }
    }
  }

  .form-control {

    &:focus {
      border-color: darken($app-form-color, 7);
      box-shadow: none;
    }
  }
}

input.input-no-border {
  border: none;
  cursor: default;
  background-color: transparent;
}

.bg-ligth-grey {
  background-color: #E2E2E2;
}

.invalid-feedback {
  display: flex;
  width: auto;
  margin-top: 0;
  color: #FF7070;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color: #FF7070;
}

/* /CSS Forms */

/* CSS Modals */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 880px;
    margin: 1.75rem auto;
  }
}

.modal-header {
  height: 70px;
  padding: 17px 40px;
  align-items: baseline;
  border-bottom: none;

  h2.title {
    font-size: 1rem;
    margin-bottom: 0;
    color: $app-form-color-header;
  }

  button.close {
    opacity: 1;
    padding: 0;
    margin: 0;

    svg.close {
      padding: 0;
      margin: 0;
      height: 25px;
      fill: $app-form-color-header;
      opacity: 1;
    }
  }

}

.modal-body {
  padding: 0;

  &-item {
    padding: 30px 40px;
    border-top: 1px solid $app-form-color;
  }
}
/* /CSS Modals */
