$app-link-color: #7995B9;
$app-link-color-active: #1F5AF6;
$app-link-color-hover: darken($app-link-color, 7);
$app-border-color: #E9E9EB;

$app-form-color: #E2E2E2;
$app-form-color-header: #4E5C6E;
$app-form-color-text: #263241;
