<section class="filter-wrapper">
  <app-filter></app-filter>

  <div class="row finded-airdrops-wrapper">
    <div class="col-md-4 finded-airdrops-item">
      <app-finded-airdrops [airdrops]="upcominngAirdrop" title="Upcoming"></app-finded-airdrops>
    </div>
    <div class="col-md-4 finded-airdrops-item">
      <app-finded-airdrops [airdrops]="activeAirdrop" title="Active"></app-finded-airdrops>
    </div>
    <div class="col-md-4 finded-airdrops-item">
      <app-finded-airdrops [airdrops]="pastAirdrop" title="Past"></app-finded-airdrops>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 submit-airdrop-wrapper main-border">
      <button class="btn" (click)="openModal(template)">Submit New Airdrop</button>
    </div>
  </div>
</section>

<ng-template #template>
  <app-form-add-airdrop [modalRef]="modalRef"></app-form-add-airdrop>
</ng-template>
