<section class="filter-wrapper">
  <app-filter></app-filter>

  <div class="row finded-airdrops-wrapper">
    <div class="col-md-4 finded-airdrops-item">
      <app-finded-airdrops [airdrops]="upcominngAirdrop" title="Upcoming"></app-finded-airdrops>
    </div>
    <div class="col-md-4 finded-airdrops-item">
      <app-finded-airdrops [airdrops]="activeAirdrop" title="Active"></app-finded-airdrops>
    </div>
    <div class="col-md-4 finded-airdrops-item">
      <app-finded-airdrops [airdrops]="pastAirdrop" title="Past"></app-finded-airdrops>
    </div>
    <!--<div class="col-md-4 finded-airdrops">
      <section class="bg-white main-border">
        <h2 class="title">Upcoming</h2>
        <div class="all-finded-airdrop">
          <div class="finded-airdrop-wrapper" *ngFor="let airdrop of airdrops">
          <div class="finded-airdrop" *ngIf="airdrop.status == 'Upcoming'">
            <div class="finded-airdrop__img">
              <img src="{{airdrop.image}}" class="token-logo">
            </div>
            <div class="finded-airdrop__info">
              <div class="info-title">{{airdrop.tokenName}}</div>
              <p class="info-social-icon">
                <a href="#">
                  <svg class="icon" viewBox="0 0 20.162 16.507">
                    <g id="twitter" transform="translate(0 -0.94)">
                      <path id="XMLID_827_" class="cls-1"
                            d="M19.7,30a7.643,7.643,0,0,1-.975.355,4.311,4.311,0,0,0,.878-1.543.325.325,0,0,0-.476-.379,7.674,7.674,0,0,1-2.268.9A4.33,4.33,0,0,0,9.5,32.425a4.415,4.415,0,0,0,.035.559,11.081,11.081,0,0,1-7.606-4.035.325.325,0,0,0-.533.042,4.334,4.334,0,0,0,.444,4.982,3.668,3.668,0,0,1-.579-.259.325.325,0,0,0-.483.277c0,.019,0,.038,0,.058A4.344,4.344,0,0,0,2.9,37.771c-.11-.011-.22-.027-.329-.048a.325.325,0,0,0-.371.419,4.327,4.327,0,0,0,3.171,2.9,7.657,7.657,0,0,1-4.093,1.168,7.835,7.835,0,0,1-.917-.054.325.325,0,0,0-.214.6A11.672,11.672,0,0,0,6.459,44.6a11.229,11.229,0,0,0,8.7-3.821,12.112,12.112,0,0,0,3.015-7.894c0-.119,0-.239-.005-.358a8.414,8.414,0,0,0,1.936-2.051A.325.325,0,0,0,19.7,30Z"
                            transform="translate(0.002 -27.157)"/>
                    </g>
                  </svg>
                </a>
                <a href="#">
                  <svg id="telegram" class="icon" viewBox="0 0 18.845 16.408">
                    <path id="XMLID_497_" class="cls-1"
                          d="M.333,27.268l4.342,1.621,1.681,5.405a.511.511,0,0,0,.812.244l2.421-1.973a.722.722,0,0,1,.88-.025l4.366,3.17a.512.512,0,0,0,.8-.309l3.2-15.384a.512.512,0,0,0-.685-.582L.328,26.311A.512.512,0,0,0,.333,27.268Zm5.752.758L14.572,22.8a.148.148,0,0,1,.178.234l-7,6.51a1.452,1.452,0,0,0-.45.869l-.239,1.768a.219.219,0,0,1-.428.031l-.918-3.224A.854.854,0,0,1,6.085,28.026Z"
                          transform="translate(0 -19.401)"/>
                  </svg>
                </a>
                <a href="#">
                  <svg class="icon" viewBox="0 0 16.408 16.408">
                    <g id="facebook-logo" class="cls-1">
                      <path id="Facebook__x28_alt_x29_" class="cls-2"
                            d="M16.408,2.735A2.834,2.834,0,0,0,13.673,0H2.735A2.834,2.834,0,0,0,0,2.735V13.673a2.834,2.834,0,0,0,2.735,2.735H8.2v-6.2H6.2V7.475H8.2V6.409a3.365,3.365,0,0,1,3.077-3.492h2.211V5.652H11.281c-.242,0-.524.294-.524.734V7.475h2.735v2.735H10.756v6.2h2.917a2.834,2.834,0,0,0,2.735-2.735Z"
                            transform="translate(0 0)"/>
                    </g>
                  </svg>
                </a>
                <a href="#">
                  <svg class="icon" viewBox="0 0 20.147 14.576">
                    <g id="message-envelope" class="cls-1" transform="translate(0 -1)">
                      <g id="Group_129" data-name="Group 129" transform="translate(0 1)">
                        <path id="Path_202" data-name="Path 202" class="cls-2"
                              d="M0,60.58v.728l10.074,7.787,10.074-7.787V60.58Z" transform="translate(0 -60.58)"/>
                        <path id="Path_203" data-name="Path 203" class="cls-2"
                              d="M10.074,103.221,4.14,98.59,0,95.39v12.341H20.147V95.39l-4.14,3.2Z"
                              transform="translate(0 -93.155)"/>
                      </g>
                    </g>
                  </svg>
                </a>
              </p>
            </div>
            <div class="finded-airdrop__stat">
              <div class="stat-today" *ngIf="airdrop.today">Today</div>
              <div class="stat-today" *ngIf="airdrop.yesterday">Yesterday</div>
              <div class="stat-common">
                <div class="stat-text">
                  <p>Rating</p>
                  <p>Value</p>
                </div>
                <div class="stat-icon">
                  <p>
                    <svg class="rating" viewBox="0 0 18 18">
                      <g id="Group_408" data-name="Group 408" transform="translate(-409 -163)">
                        <ellipse id="Ellipse_12" data-name="Ellipse 12" class="cls-1" cx="9" cy="9" rx="9" ry="9"
                                 transform="translate(409 163)"/>
                        <g id="fire" transform="translate(414.349 167.236)">
                          <g id="Group_137" data-name="Group 137" transform="translate(0 0)">
                            <path id="Path_204" data-name="Path 204" class="fire" fill="#fff"
                                  d="M49.314,2.847a2.448,2.448,0,0,0-.555-.474l-.018-.01a.374.374,0,0,0-.374.024c-.119.08-.282.189-.149,1.968,0,0,0,.009,0,.013a.559.559,0,0,1,0,.191l0,.016a.849.849,0,0,1-.712.641.814.814,0,0,1-.855-.369.988.988,0,0,1-.046-.894c.029-.058.057-.118.085-.178a3.716,3.716,0,0,1,.2-.393A2.86,2.86,0,0,0,46.628.156a.371.371,0,0,0-.573-.041c-.294.311-.58.637-.857.953-.333.379-.677.772-1.035,1.137a5.356,5.356,0,0,0-1.493,2.587,3.694,3.694,0,0,0,.3,2.241A4,4,0,0,0,46.307,9.26c.058,0,.116,0,.175,0A3.872,3.872,0,0,0,49.8,7.342,3.715,3.715,0,0,0,49.314,2.847Z"
                                  transform="translate(-42.613 0.001)"/>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </p>
                  <p>
                    <svg class="value" viewBox="0 0 15 15">
                      <defs>
                        <style>
                          .value {
                            fill: #fff;
                            font-size: 10px;
                            font-family: Roboto-Regular, Roboto;
                          }
                        </style>
                      </defs>
                      <g id="Group_260" data-name="Group 260" transform="translate(-370 -195)">
                        <circle id="Ellipse_12" data-name="Ellipse 12" class="cls-1" cx="7.5" cy="7.5" r="7.5"
                                transform="translate(370 195)"/>
                        <text id="_" data-name="~" class="value" transform="translate(381 206)">
                          <tspan x="-6.802" y="0">~</tspan>
                        </text>
                      </g>
                    </svg>
                  </p>
                </div>
                <div class="stat-value">
                  <p>{{airdrop.rating}}</p>
                  <p>{{airdrop.tokenValue | currency}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="footer">
          <a href="#">Find Upcoming Airdrops &#8594;</a>
        </div>
      </section>
    </div>
    <div class="col-md-4 finded-airdrops">
      <section class="bg-white main-border">
        <h2 class="title">Active</h2>
        <div class="all-finded-airdrop">
          <div class="finded-airdrop-wrapper" *ngFor="let airdrop of airdrops">
          <div class="finded-airdrop" *ngIf="airdrop.status == 'Active'">
            <div class="finded-airdrop__img">
              <img src="{{airdrop.image}}" class="token-logo">
            </div>
            <div class="finded-airdrop__info">
              <div class="info-title" (click)="openModalWithComponent(airdrop); airdrop['isVisited'] = true;">
                {{airdrop.tokenName}} <span *ngIf="airdrop.isVisited">
                 <svg class="icon icon_eyes" viewBox="0 0 13.75 9.375">
                  <g id="baseline-remove_red_eye-24px" transform="translate(-0.625 -2.813)">
                    <path id="Path_991" data-name="Path 991" class="cls-1" d="M7.875,4.5A7.392,7.392,0,0,0,1,9.188a7.385,7.385,0,0,0,13.75,0A7.392,7.392,0,0,0,7.875,4.5Zm0,7.813A3.125,3.125,0,1,1,11,9.188,3.126,3.126,0,0,1,7.875,12.313Zm0-5A1.875,1.875,0,1,0,9.75,9.188,1.872,1.872,0,0,0,7.875,7.313Z" transform="translate(-0.375 -1.688)"/>
                  </g>
                </svg>
                </span>
              </div>
              <p class="info-social-icon">
                <a href="#">
                  <svg class="icon" viewBox="0 0 20.162 16.507">
                    <g id="twitter" transform="translate(0 -0.94)">
                      <path id="XMLID_827_" class="cls-1"
                            d="M19.7,30a7.643,7.643,0,0,1-.975.355,4.311,4.311,0,0,0,.878-1.543.325.325,0,0,0-.476-.379,7.674,7.674,0,0,1-2.268.9A4.33,4.33,0,0,0,9.5,32.425a4.415,4.415,0,0,0,.035.559,11.081,11.081,0,0,1-7.606-4.035.325.325,0,0,0-.533.042,4.334,4.334,0,0,0,.444,4.982,3.668,3.668,0,0,1-.579-.259.325.325,0,0,0-.483.277c0,.019,0,.038,0,.058A4.344,4.344,0,0,0,2.9,37.771c-.11-.011-.22-.027-.329-.048a.325.325,0,0,0-.371.419,4.327,4.327,0,0,0,3.171,2.9,7.657,7.657,0,0,1-4.093,1.168,7.835,7.835,0,0,1-.917-.054.325.325,0,0,0-.214.6A11.672,11.672,0,0,0,6.459,44.6a11.229,11.229,0,0,0,8.7-3.821,12.112,12.112,0,0,0,3.015-7.894c0-.119,0-.239-.005-.358a8.414,8.414,0,0,0,1.936-2.051A.325.325,0,0,0,19.7,30Z"
                            transform="translate(0.002 -27.157)"/>
                    </g>
                  </svg>
                </a>
                <a href="#">
                  <svg id="telegram" class="icon" viewBox="0 0 18.845 16.408">
                    <path id="XMLID_497_" class="cls-1"
                          d="M.333,27.268l4.342,1.621,1.681,5.405a.511.511,0,0,0,.812.244l2.421-1.973a.722.722,0,0,1,.88-.025l4.366,3.17a.512.512,0,0,0,.8-.309l3.2-15.384a.512.512,0,0,0-.685-.582L.328,26.311A.512.512,0,0,0,.333,27.268Zm5.752.758L14.572,22.8a.148.148,0,0,1,.178.234l-7,6.51a1.452,1.452,0,0,0-.45.869l-.239,1.768a.219.219,0,0,1-.428.031l-.918-3.224A.854.854,0,0,1,6.085,28.026Z"
                          transform="translate(0 -19.401)"/>
                  </svg>
                </a>
                <a href="#">
                  <svg class="icon" viewBox="0 0 16.408 16.408">
                    <g id="facebook-logo" class="cls-1">
                      <path id="Facebook__x28_alt_x29_" class="cls-2"
                            d="M16.408,2.735A2.834,2.834,0,0,0,13.673,0H2.735A2.834,2.834,0,0,0,0,2.735V13.673a2.834,2.834,0,0,0,2.735,2.735H8.2v-6.2H6.2V7.475H8.2V6.409a3.365,3.365,0,0,1,3.077-3.492h2.211V5.652H11.281c-.242,0-.524.294-.524.734V7.475h2.735v2.735H10.756v6.2h2.917a2.834,2.834,0,0,0,2.735-2.735Z"
                            transform="translate(0 0)"/>
                    </g>
                  </svg>
                </a>
                <a href="#">
                  <svg class="icon" viewBox="0 0 20.147 14.576">
                    <g id="message-envelope" class="cls-1" transform="translate(0 -1)">
                      <g id="Group_129" data-name="Group 129" transform="translate(0 1)">
                        <path id="Path_202" data-name="Path 202" class="cls-2"
                              d="M0,60.58v.728l10.074,7.787,10.074-7.787V60.58Z" transform="translate(0 -60.58)"/>
                        <path id="Path_203" data-name="Path 203" class="cls-2"
                              d="M10.074,103.221,4.14,98.59,0,95.39v12.341H20.147V95.39l-4.14,3.2Z"
                              transform="translate(0 -93.155)"/>
                      </g>
                    </g>
                  </svg>
                </a>
              </p>
            </div>
            <div class="finded-airdrop__stat">
              <div class="stat-today" *ngIf="airdrop.today">Today</div>
              <div class="stat-today" *ngIf="airdrop.yesterday">Yesterday</div>
              <div class="stat-common">
                <div class="stat-text">
                  <p>Rating</p>
                  <p>Value</p>
                </div>
                <div class="stat-icon">
                  <p>
                    <svg class="rating" viewBox="0 0 18 18">
                      <g id="Group_408" data-name="Group 408" transform="translate(-409 -163)">
                        <ellipse id="Ellipse_12" data-name="Ellipse 12" class="cls-1" cx="9" cy="9" rx="9" ry="9"
                                 transform="translate(409 163)"/>
                        <g id="fire" transform="translate(414.349 167.236)">
                          <g id="Group_137" data-name="Group 137" transform="translate(0 0)">
                            <path id="Path_204" data-name="Path 204" class="fire" fill="#fff"
                                  d="M49.314,2.847a2.448,2.448,0,0,0-.555-.474l-.018-.01a.374.374,0,0,0-.374.024c-.119.08-.282.189-.149,1.968,0,0,0,.009,0,.013a.559.559,0,0,1,0,.191l0,.016a.849.849,0,0,1-.712.641.814.814,0,0,1-.855-.369.988.988,0,0,1-.046-.894c.029-.058.057-.118.085-.178a3.716,3.716,0,0,1,.2-.393A2.86,2.86,0,0,0,46.628.156a.371.371,0,0,0-.573-.041c-.294.311-.58.637-.857.953-.333.379-.677.772-1.035,1.137a5.356,5.356,0,0,0-1.493,2.587,3.694,3.694,0,0,0,.3,2.241A4,4,0,0,0,46.307,9.26c.058,0,.116,0,.175,0A3.872,3.872,0,0,0,49.8,7.342,3.715,3.715,0,0,0,49.314,2.847Z"
                                  transform="translate(-42.613 0.001)"/>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </p>
                  <p>
                    <svg class="value" viewBox="0 0 15 15">
                      <defs>
                        <style>
                          .value {
                            fill: #fff;
                            font-size: 10px;
                            font-family: Roboto-Regular, Roboto;
                          }
                        </style>
                      </defs>
                      <g id="Group_260" data-name="Group 260" transform="translate(-370 -195)">
                        <circle id="Ellipse_12" data-name="Ellipse 12" class="cls-1" cx="7.5" cy="7.5" r="7.5"
                                transform="translate(370 195)"/>
                        <text id="_" data-name="~" class="value" transform="translate(381 206)">
                          <tspan x="-6.802" y="0">~</tspan>
                        </text>
                      </g>
                    </svg>
                  </p>
                </div>
                <div class="stat-value">
                  <p>{{airdrop.rating}}</p>
                  <p>{{airdrop.tokenValue | currency}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="footer">
          <a href="#">Find Active Airdrops &#8594;</a>
        </div>
      </section>
    </div>
    <div class="col-md-4 finded-airdrops">
      <section class="bg-white main-border">
        <h2 class="title">Past</h2>
        <div class="all-finded-airdrop">
          <div class="finded-airdrop-wrapper" *ngFor="let airdrop of airdrops">
            <div class="finded-airdrop" *ngIf="airdrop.status == 'Past'">
              <div class="finded-airdrop__img">
                <img src="{{airdrop.image}}" class="token-logo">
              </div>
              <div class="finded-airdrop__info">
                <div class="info-title" (click)="openModalWithComponent(airdrop); airdrop['isVisited'] = true;">
                  {{airdrop.tokenName}}<span *ngIf="airdrop.isVisited">
                 <svg class="icon icon_eyes" viewBox="0 0 13.75 9.375">
                  <g id="baseline-remove_red_eye-24px" transform="translate(-0.625 -2.813)">
                    <path id="Path_991" data-name="Path 991" class="cls-1" d="M7.875,4.5A7.392,7.392,0,0,0,1,9.188a7.385,7.385,0,0,0,13.75,0A7.392,7.392,0,0,0,7.875,4.5Zm0,7.813A3.125,3.125,0,1,1,11,9.188,3.126,3.126,0,0,1,7.875,12.313Zm0-5A1.875,1.875,0,1,0,9.75,9.188,1.872,1.872,0,0,0,7.875,7.313Z" transform="translate(-0.375 -1.688)"/>
                  </g>
                </svg>
                </span>
                </div>
                <p class="info-social-icon">
                  <a href="#">
                    <svg class="icon" viewBox="0 0 20.162 16.507">
                      <g id="twitter" transform="translate(0 -0.94)">
                        <path id="XMLID_827_" class="cls-1"
                              d="M19.7,30a7.643,7.643,0,0,1-.975.355,4.311,4.311,0,0,0,.878-1.543.325.325,0,0,0-.476-.379,7.674,7.674,0,0,1-2.268.9A4.33,4.33,0,0,0,9.5,32.425a4.415,4.415,0,0,0,.035.559,11.081,11.081,0,0,1-7.606-4.035.325.325,0,0,0-.533.042,4.334,4.334,0,0,0,.444,4.982,3.668,3.668,0,0,1-.579-.259.325.325,0,0,0-.483.277c0,.019,0,.038,0,.058A4.344,4.344,0,0,0,2.9,37.771c-.11-.011-.22-.027-.329-.048a.325.325,0,0,0-.371.419,4.327,4.327,0,0,0,3.171,2.9,7.657,7.657,0,0,1-4.093,1.168,7.835,7.835,0,0,1-.917-.054.325.325,0,0,0-.214.6A11.672,11.672,0,0,0,6.459,44.6a11.229,11.229,0,0,0,8.7-3.821,12.112,12.112,0,0,0,3.015-7.894c0-.119,0-.239-.005-.358a8.414,8.414,0,0,0,1.936-2.051A.325.325,0,0,0,19.7,30Z"
                              transform="translate(0.002 -27.157)"/>
                      </g>
                    </svg>
                  </a>
                  <a href="#">
                    <svg id="telegram" class="icon" viewBox="0 0 18.845 16.408">
                      <path id="XMLID_497_" class="cls-1"
                            d="M.333,27.268l4.342,1.621,1.681,5.405a.511.511,0,0,0,.812.244l2.421-1.973a.722.722,0,0,1,.88-.025l4.366,3.17a.512.512,0,0,0,.8-.309l3.2-15.384a.512.512,0,0,0-.685-.582L.328,26.311A.512.512,0,0,0,.333,27.268Zm5.752.758L14.572,22.8a.148.148,0,0,1,.178.234l-7,6.51a1.452,1.452,0,0,0-.45.869l-.239,1.768a.219.219,0,0,1-.428.031l-.918-3.224A.854.854,0,0,1,6.085,28.026Z"
                            transform="translate(0 -19.401)"/>
                    </svg>
                  </a>
                  <a href="#">
                    <svg class="icon" viewBox="0 0 16.408 16.408">
                      <g id="facebook-logo" class="cls-1">
                        <path id="Facebook__x28_alt_x29_" class="cls-2"
                              d="M16.408,2.735A2.834,2.834,0,0,0,13.673,0H2.735A2.834,2.834,0,0,0,0,2.735V13.673a2.834,2.834,0,0,0,2.735,2.735H8.2v-6.2H6.2V7.475H8.2V6.409a3.365,3.365,0,0,1,3.077-3.492h2.211V5.652H11.281c-.242,0-.524.294-.524.734V7.475h2.735v2.735H10.756v6.2h2.917a2.834,2.834,0,0,0,2.735-2.735Z"
                              transform="translate(0 0)"/>
                      </g>
                    </svg>
                  </a>
                  <a href="#">
                    <svg class="icon" viewBox="0 0 20.147 14.576">
                      <g id="message-envelope" class="cls-1" transform="translate(0 -1)">
                        <g id="Group_129" data-name="Group 129" transform="translate(0 1)">
                          <path id="Path_202" data-name="Path 202" class="cls-2"
                                d="M0,60.58v.728l10.074,7.787,10.074-7.787V60.58Z" transform="translate(0 -60.58)"/>
                          <path id="Path_203" data-name="Path 203" class="cls-2"
                                d="M10.074,103.221,4.14,98.59,0,95.39v12.341H20.147V95.39l-4.14,3.2Z"
                                transform="translate(0 -93.155)"/>
                        </g>
                      </g>
                    </svg>
                  </a>
                </p>
              </div>
              <div class="finded-airdrop__stat">
                <div class="stat-today" *ngIf="airdrop.today">Today</div>
                <div class="stat-today" *ngIf="airdrop.yesterday">Yesterday</div>
                <div class="stat-common">
                  <div class="stat-text">
                    <p>Rating</p>
                    <p>Value</p>
                  </div>
                  <div class="stat-icon">
                    <p>
                      <svg class="rating" viewBox="0 0 18 18">
                        <g id="Group_408" data-name="Group 408" transform="translate(-409 -163)">
                          <ellipse id="Ellipse_12" data-name="Ellipse 12" class="cls-1" cx="9" cy="9" rx="9" ry="9"
                                   transform="translate(409 163)"/>
                          <g id="fire" transform="translate(414.349 167.236)">
                            <g id="Group_137" data-name="Group 137" transform="translate(0 0)">
                              <path id="Path_204" data-name="Path 204" class="fire" fill="#fff"
                                    d="M49.314,2.847a2.448,2.448,0,0,0-.555-.474l-.018-.01a.374.374,0,0,0-.374.024c-.119.08-.282.189-.149,1.968,0,0,0,.009,0,.013a.559.559,0,0,1,0,.191l0,.016a.849.849,0,0,1-.712.641.814.814,0,0,1-.855-.369.988.988,0,0,1-.046-.894c.029-.058.057-.118.085-.178a3.716,3.716,0,0,1,.2-.393A2.86,2.86,0,0,0,46.628.156a.371.371,0,0,0-.573-.041c-.294.311-.58.637-.857.953-.333.379-.677.772-1.035,1.137a5.356,5.356,0,0,0-1.493,2.587,3.694,3.694,0,0,0,.3,2.241A4,4,0,0,0,46.307,9.26c.058,0,.116,0,.175,0A3.872,3.872,0,0,0,49.8,7.342,3.715,3.715,0,0,0,49.314,2.847Z"
                                    transform="translate(-42.613 0.001)"/>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </p>
                    <p>
                      <svg class="value" viewBox="0 0 15 15">
                        <defs>
                          <style>
                            .value {
                              fill: #fff;
                              font-size: 10px;
                              font-family: Roboto-Regular, Roboto;
                            }
                          </style>
                        </defs>
                        <g id="Group_260" data-name="Group 260" transform="translate(-370 -195)">
                          <circle id="Ellipse_12" data-name="Ellipse 12" class="cls-1" cx="7.5" cy="7.5" r="7.5"
                                  transform="translate(370 195)"/>
                          <text id="_" data-name="~" class="value" transform="translate(381 206)">
                            <tspan x="-6.802" y="0">~</tspan>
                          </text>
                        </g>
                      </svg>
                    </p>
                  </div>
                  <div class="stat-value">
                    <p>{{airdrop.rating}}</p>
                    <p>{{airdrop.tokenValue | currency}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <a href="#">Find Past Airdrops &#8594;</a>
        </div>
      </section>
    </div>-->
  </div>

  <div class="row">
    <div class="col-md-12 submit-airdrop-wrapper main-border">
      <button class="btn" (click)="openModal(template)">Submit New Airdrop</button>
    </div>
  </div>
</section>

<ng-template #template>
  <app-form-add-airdrop [modalRef]="modalRef"></app-form-add-airdrop>
</ng-template>
