@import '~variables.scss';

.form-group {

  .requirements-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .requirements-item {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 46px;
    border-radius: .375rem;
    height: 42px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .requirements-input {
    width: 33%;
  }
}

.htg-item,
.project-links-item {
  margin-bottom: 10px;

  &_added {
    input {
      background-color: $app-form-color;
    }
  }

  .htg-index {
    width: 42px;
    height: 42px;
    background-color: $app-form-color;
    color: $app-form-color-header;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_white {
      background-color: #fff;
      border: 1px solid $app-form-color;
    }
  }

  .project-links-btn {
    cursor: pointer;
    border: 1px dashed $app-form-color;
    border-radius: 5px;
    height: 42px;
    color: #AEAEAE;
  }
}

.htg-input .form-control {
  background-color: $app-form-color;
  cursor: text;
  min-height: 42px;
}

.btn_submit {
  margin-top: 15px;
}

.upload-token-name {
  display: flex;

  .token-wrapper {
    flex-grow: 1;
  }
}
.uploadedImageContainer {
  position: relative;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background-color: $app-form-color;
  margin-right: 16px;

  &:hover {
    svg {
      fill: $app-link-color-hover
    }
  }

  &.is-invalid {
    border: 1px solid #FF7070;
  }

  .uploadedImage {
    position: absolute;
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
    height: 68px;
    width: 68px;
  }

  svg.icon {
    height: 22px;
    position: absolute;
    fill: $app-form-color-header;
    top: 31%;
    left: 37%;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 68px;
    width: 68px;
    border: none;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
  }
}

:host /deep/ tag-input {
  .ng2-tag-input {
    padding: 0;
    border-bottom: none;
    font-family: 'Roboto';
    font-weight: 400;
  }
  .ng2-tag-input.ng2-tag-input--focused {
    border-bottom: none;

    .ng2-tag-input__text-input {
      border-color: #d0d0d0;
    }
  }

  .ng2-tag-input__text-input {
    min-height: 42px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #E9E9EB;
  }

  .ng2-tag-input__text-input::-moz-placeholder {
    color: #AEAEAE;
    font-size: 0.8824rem;
    opacity: 1;
    font-weight: 400;
    font-family: 'Roboto';
  }

  .ng2-tag-input__text-input::-ms-input-placeholder {
    color: #AEAEAE;
    font-size: 0.8824rem;
    opacity: 1;
    font-weight: 400;
    font-family: 'Roboto';
  }

  .ng2-tag-input__text-input::-webkit-input-placeholder {
    color: #AEAEAE;
    font-size: 1rem;
    opacity: 1;
    font-weight: 400;
    font-size: 0.8824rem;
    font-family: 'Roboto';
  }

  .tag-wrapper {
    align-items: center;
  }
  tag {
    border-radius: 5px;
    color: $app-form-color-text;
    font-size: 0.8824rem;
    height: 42px;
    line-height: 42px;
    margin-bottom: 5px;
  }
  delete-icon {
    display: flex;
    align-items: center;
    margin-left: 5px;

    &:hover {
      transform: scale(1.5) !important;
    }

    svg {
      height: 14px !important;
      vertical-align: middle !important;
      margin-top: -2px !important;
    }
  }
}

/* CSS Popover */
:host /deep/ popover-container {
  &.popover {
    z-index: 9999;
    background-color: $app-form-color;

    .popover-content {
      color: $app-form-color-text;
      display: flex;
      align-items: center;
    }

    .popover-arrow.arrow::after {
      border-top-color: $app-form-color;
    }
  }

  input.form-control {
    background-color: $app-form-color;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #4E5C6E;
  }

  .text-popover {
    color: #4E5C6E;
    margin-right: 10px;
    font-size: 18px;
  }
}

/* /CSS Popover */
